{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-multi-spaces": ["error", {
      exceptions: {
        "VariableDeclarator": true,
        "ImportDeclaration": true
      }
    }],
    "react/jsx-filename-extension": [error, { "extensions": [".js"] }],
    "arrow-body-style": [2, "always"],
    "max-len": [1, 200],
    "no-param-reassign": [0],
    "class-methods-use-this": [0]
  }
}
